<IfModule mod_rewrite.c>
    php_value date.timezone Asia/Shanghai
    Options -Indexes
    ErrorDocument 404 /404.html
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} \..+$
    RewriteCond %{REQUEST_URI} \.(db|log|htaccess)$ [NC]
    RewriteRule ^ - [F]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*)$ page/v2/loader.php/%1 [QSA,L]
    RewriteRule ^v2/(.*)$ page/v2/$1.php [QSA,L]
    RewriteCond %{REQUEST_URI} !^/page [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ page/manager.php/$1 [QSA,L]
</IfModule>
