#aside_btn {
    position: fixed;
    top: 40%;
    height: 10%;
    width: auto;
    min-width: 35px;
    background: #F08080;
    border: 0;
    color: #fff;
    text-align: right;
    cursor: pointer;
    border-radius: 5px;
    -moz-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    z-index: 10;
    display: block;
}

.aside_box {
    float: left;
    position: fixed;
    left: 0;
    height: 100%;
    width: 16.5%;
    min-width: 200px;
    margin-left: -100%;
    background-color: white;
    -moz-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    z-index: 9;
    opacity: 0.8;
    overflow: auto;
    overflow-x: hidden;
    margin-top: -5%;
    border: 1px solid #b5b5b599;
}

.dark .aside_box {
    float: left;
    position: fixed;
    left: 0;
    height: 100%;
    width: 16.5%;
    min-width: 200px;
    margin-left: -100%;
    background-color: hsl(0, 0%, 0%);
    -moz-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    z-index: 9;
    opacity: 0.8;
    overflow: auto;
    overflow-x: hidden;
    margin-top: -5%;
    border: 1px solid #b5b5b599;
}

aside ul {
    text-align: left;
    margin-left: -10%;
}

aside ul li {
    height: 40px;
    width: 100%;
    line-height: 40px;
    list-style-type: none;
    text-align: left;
    white-space: nowrap;
    border-radius: 5px;
}

aside ul #active{
    background: #c6c6c6;
}

aside ul li:hover {
    background: #979797;
}

aside ul a {
    color: black;
    text-decoration: none;
    position: relative;
    text-align: left;
}

.dark aside ul a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    text-align: left;
}

