/* 顶部导航栏样式 */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a5e4ff;
    color: #000000;
    z-index: 999;
  }
  
  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .nav li {
    margin: 0;
    padding: 0;
  }
  
  .nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* 侧导航栏和内容区样式 */
  .container {
    display: flex;
    max-width: 1200px;
    margin: 80px auto 0;
  }
  
  .sidebar {
    width: 25%;
    min-width: 200px;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    margin: 0;
    padding: 0;
  }
  
  .sidebar-nav a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .content {
    width: 75%;
    padding: 20px;
    background-color: #fff;
  }

  #editor {
    width: 50%;
    height: 200px;
  }

  ul#sidebar-nav {
      text-align: left;
      margin-left: -10%;
  }
  
  ul#sidebar-nav li {
      height: 40px;
      width: 100%;
      padding-left: 10px;
      line-height: 40px;
      list-style-type: none;
      text-align: left;
      text-decoration:none;
      white-space: nowrap;
      border-radius: 5px;
  }
  
  ul#sidebar-nav #active{
      background: #c6c6c6;
  }
  
  ul#sidebar-nav li:hover {
      background: #979797;
  }
  
  ul#sidebar-nav a {
      color: black;
      text-decoration: none;
      position: relative;
      text-align: left;
  }
  
  .dark ul#sidebar-nav a {
      color: #ffffff;
      text-decoration: none;
      position: relative;
      text-align: left;
  }