.octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

details,
figcaption,
figure {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none !important;
}


abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: 600;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #fff8c5;
  color: #1F2328;
}

small {
  font-size: 90%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

::placeholder {
  color: #6e7781;
  opacity: 1;
}

hr::before {
  display: table;
  content: "";
}

hr::after {
  display: table;
  clear: both;
  content: "";
}

details summary {
  cursor: pointer;
}

details:not([open])>*:not(summary) {
  display: none !important;
}

a:focus,
[role=button]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

a:focus:not(:focus-visible),
[role=button]:focus:not(:focus-visible),
input[type=radio]:focus:not(:focus-visible),
input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

a:focus-visible,
[role=button]:focus-visible,
input[type=radio]:focus-visible,
input[type=checkbox]:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

a:not([class]):focus,
a:not([class]):focus-visible,
input[type=radio]:focus,
input[type=radio]:focus-visible,
input[type=checkbox]:focus,
input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: #1F2328;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-bottom-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #656d76;
  border-left: .25em solid #d0d7de;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

tt,
code,
samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.mr-2 {
  margin-right: 8px !important;
}

.mdui-theme-dark::before {
  display: table;
  content: "";
}

.mdui-theme-dark::after {
  display: table;
  clear: both;
  content: "";
}

.mdui-theme-dark>*:first-child {
  margin-top: 0 !important;
}

.mdui-theme-dark>*:last-child {
  margin-bottom: 0 !important;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.absent {
  color: #d1242f;
}

.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.anchor:focus {
  outline: none;
}

p,
blockquote,
ul,
ol,
dl,
pre,
details {
  margin-top: 0;
  margin-bottom: 16px;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

ul.no-list,
ol.no-list {
  padding: 0;
  list-style-type: none;
}

ol[type="a s"] {
  list-style-type: lower-alpha;
}

ol[type="A s"] {
  list-style-type: upper-alpha;
}

ol[type="i s"] {
  list-style-type: lower-roman;
}

ol[type="I s"] {
  list-style-type: upper-roman;
}

ol[type="1"] {
  list-style-type: decimal;
}

div>ol:not([type]) {
  list-style-type: decimal;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li>p {
  margin-top: 16px;
}

li+li {
  margin-top: .25em;
}

dl {
  padding: 0;
}

dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

img[align=right] {
  padding-left: 20px;
}

img[align=left] {
  padding-right: 20px;
}

.emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

span.frame {
  display: block;
  overflow: hidden;
}

span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

span.frame span img {
  display: block;
  float: left;
}

span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #1F2328;
}

span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

span.align-right span img {
  margin: 0;
  text-align: right;
}

span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

span.float-left span {
  margin: 13px 0 0;
}

span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

code,
tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

code br,
tt br {
  display: none;
}

del code {
  text-decoration: inherit;
}

samp {
  font-size: 85%;
}

pre code {
  font-size: 100%;
}

pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.highlight {
  margin-bottom: 16px;
}

.highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.highlight pre,
pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #1F2328;
  background-color: #f6f8fa;
  border-radius: 6px;
}

pre code,
pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.csv-data td,
.csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.csv-data tr {
  border-top: 0;
}

.csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

[data-footnote-ref]::before {
  content: "[";
}

[data-footnote-ref]::after {
  content: "]";
}

.footnotes {
  font-size: 12px;
  color: #656d76;
  border-top: 1px solid #d0d7de;
}

.footnotes ol {
  padding-left: 16px;
}

.footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.footnotes li {
  position: relative;
}

.footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.footnotes li:target {
  color: #1F2328;
}

.footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.pl-c {
  color: #57606a;
}

.pl-c1,
.pl-s .pl-v {
  color: #0550ae;
}

.pl-e,
.pl-en {
  color: #6639ba;
}

.pl-smi,
.pl-s .pl-s1 {
  color: #24292f;
}

.pl-ent {
  color: #116329;
}

.pl-k {
  color: #cf222e;
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
  color: #0a3069;
}

.pl-v,
.pl-smw {
  color: #953800;
}

.pl-bu {
  color: #82071e;
}

.pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

.pl-ml {
  color: #3b2300;
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.pl-mi {
  font-style: italic;
  color: #24292f;
}

.pl-mb {
  font-weight: bold;
  color: #24292f;
}

.pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

.pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

.pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

.pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

.pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.pl-ba {
  color: #57606a;
}

.pl-sg {
  color: #8c959f;
}

.pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

g-emoji img {
  width: 1em;
  height: 1em;
}

.task-list-item {
  list-style-type: none;
}

.task-list-item label {
  font-weight: 400;
}

.task-list-item.enabled label {
  cursor: pointer;
}

.task-list-item+.task-list-item {
  margin-top: 4px;
}

.task-list-item .handle {
  display: none;
}

.task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

.contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.contains-task-list {
  position: relative;
}

.contains-task-list:hover .task-list-item-convert-container,
.contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.markdown-alert {
  padding: 8px 16px;
  margin-bottom: 16px;
  color: inherit;
  border-left: .25em solid #d0d7de;
}

.markdown-alert>:first-child {
  margin-top: 0;
}

.markdown-alert>:last-child {
  margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-alert.markdown-alert-note {
  border-left-color: #0969da;
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #0969da;
}

.markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.markdown-alert.markdown-alert-warning {
  border-left-color: #9a6700;
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.markdown-alert.markdown-alert-tip {
  border-left-color: #1f883d;
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.markdown-alert.markdown-alert-caution {
  border-left-color: #cf222e;
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #d1242f;
}

.mdui-theme-dark .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.mdui-theme-dark details,
.mdui-theme-dark figcaption,
.mdui-theme-dark figure {
  display: block;
}

.mdui-theme-dark summary {
  display: list-item;
}

.mdui-theme-dark [hidden] {
  display: none !important;
}

.mdui-theme-dark abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.mdui-theme-dark b,
.mdui-theme-dark strong {
  font-weight: 600;
}

.mdui-theme-dark dfn {
  font-style: italic;
}

.mdui-theme-dark mark {
  background-color: rgba(187, 128, 9, 0.15);
  color: #e6edf3;
}

.mdui-theme-dark small {
  font-size: 90%;
}

.mdui-theme-dark sub,
.mdui-theme-dark sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.mdui-theme-dark sub {
  bottom: -0.25em;
}

.mdui-theme-dark sup {
  top: -0.5em;
}

.mdui-theme-dark code,
.mdui-theme-dark kbd,
.mdui-theme-dark pre,
.mdui-theme-dark samp {
  font-family: monospace;
  font-size: 1em;
}

.mdui-theme-dark figure {
  margin: 1em 40px;
}

.mdui-theme-dark hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #21262d;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

.mdui-theme-dark input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.mdui-theme-dark [type=button],
.mdui-theme-dark [type=reset],
.mdui-theme-dark [type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

.mdui-theme-dark [type=checkbox],
.mdui-theme-dark [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.mdui-theme-dark [type=number]::-webkit-inner-spin-button,
.mdui-theme-dark [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.mdui-theme-dark [type=search]::-webkit-search-cancel-button,
.mdui-theme-dark [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.mdui-theme-dark ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.mdui-theme-dark ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.mdui-theme-dark a:hover {
  text-decoration: underline;
}

.mdui-theme-dark ::placeholder {
  color: #6e7681;
  opacity: 1;
}

.mdui-theme-dark hr::before {
  display: table;
  content: "";
}

.mdui-theme-dark hr::after {
  display: table;
  clear: both;
  content: "";
}

.mdui-theme-dark td,
.mdui-theme-dark th {
  padding: 0;
}

.mdui-theme-dark details summary {
  cursor: pointer;
}

.mdui-theme-dark details:not([open])>*:not(summary) {
  display: none !important;
}

.mdui-theme-dark a:focus,
.mdui-theme-dark [role=button]:focus,
.mdui-theme-dark input[type=radio]:focus,
.mdui-theme-dark input[type=checkbox]:focus {
  outline: 2px solid #2f81f7;
  outline-offset: -2px;
  box-shadow: none;
}

.mdui-theme-dark a:focus:not(:focus-visible),
.mdui-theme-dark [role=button]:focus:not(:focus-visible),
.mdui-theme-dark input[type=radio]:focus:not(:focus-visible),
.mdui-theme-dark input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.mdui-theme-dark a:focus-visible,
.mdui-theme-dark [role=button]:focus-visible,
.mdui-theme-dark input[type=radio]:focus-visible,
.mdui-theme-dark input[type=checkbox]:focus-visible {
  outline: 2px solid #2f81f7;
  outline-offset: -2px;
  box-shadow: none;
}

.mdui-theme-dark a:not([class]):focus,
.mdui-theme-dark a:not([class]):focus-visible,
.mdui-theme-dark input[type=radio]:focus,
.mdui-theme-dark input[type=radio]:focus-visible,
.mdui-theme-dark input[type=checkbox]:focus,
.mdui-theme-dark input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

.mdui-theme-dark kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: #e6edf3;
  vertical-align: middle;
  background-color: #161b22;
  border: solid 1px rgba(110, 118, 129, 0.4);
  border-bottom-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
}

.mdui-theme-dark blockquote {
  margin: 0;
  padding: 0 1em;
  color: #848d97;
  border-left: .25em solid #30363d;
}

.mdui-theme-dark ul,
.mdui-theme-dark ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.mdui-theme-dark ol ol,
.mdui-theme-dark ul ol {
  list-style-type: lower-roman;
}

.mdui-theme-dark ul ul ol,
.mdui-theme-dark ul ol ol,
.mdui-theme-dark ol ul ol,
.mdui-theme-dark ol ol ol {
  list-style-type: lower-alpha;
}

.mdui-theme-dark dd {
  margin-left: 0;
}

.mdui-theme-dark tt,
.mdui-theme-dark code,
.mdui-theme-dark samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

.mdui-theme-dark pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.mdui-theme-dark .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.mdui-theme-dark input::-webkit-outer-spin-button,
.mdui-theme-dark input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.mdui-theme-dark .mr-2 {
  margin-right: 8px !important;
}

.mdui-theme-dark::before {
  display: table;
  content: "";
}

.mdui-theme-dark::after {
  display: table;
  clear: both;
  content: "";
}

.mdui-theme-dark>*:first-child {
  margin-top: 0 !important;
}

.mdui-theme-dark>*:last-child {
  margin-bottom: 0 !important;
}

.mdui-theme-dark a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.mdui-theme-dark .absent {
  color: #f85149;
}

.mdui-theme-dark .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.mdui-theme-dark .anchor:focus {
  outline: none;
}

.mdui-theme-dark p {
  margin-top: 0;
  margin-bottom: 10px;
}

.mdui-theme-dark p,
.mdui-theme-dark blockquote,
.mdui-theme-dark ul,
.mdui-theme-dark ol,
.mdui-theme-dark dl,
.mdui-theme-dark pre,
.mdui-theme-dark details {
  margin-top: 0;
  margin-bottom: 16px;
}

.mdui-theme-dark blockquote>:first-child {
  margin-top: 0;
}

.mdui-theme-dark blockquote>:last-child {
  margin-bottom: 0;
}

.mdui-theme-dark ul.no-list,
.mdui-theme-dark ol.no-list {
  padding: 0;
  list-style-type: none;
}

.mdui-theme-dark ol[type="a s"] {
  list-style-type: lower-alpha;
}

.mdui-theme-dark ol[type="A s"] {
  list-style-type: upper-alpha;
}

.mdui-theme-dark ol[type="i s"] {
  list-style-type: lower-roman;
}

.mdui-theme-dark ol[type="I s"] {
  list-style-type: upper-roman;
}

.mdui-theme-dark ol[type="1"] {
  list-style-type: decimal;
}

.mdui-theme-dark div>ol:not([type]) {
  list-style-type: decimal;
}

.mdui-theme-dark ul ul,
.mdui-theme-dark ul ol,
.mdui-theme-dark ol ol,
.mdui-theme-dark ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.mdui-theme-dark li>p {
  margin-top: 16px;
}

.mdui-theme-dark li+li {
  margin-top: .25em;
}

.mdui-theme-dark dl {
  padding: 0;
}

.mdui-theme-dark dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.mdui-theme-dark dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.mdui-theme-dark img[align=right] {
  padding-left: 20px;
}

.mdui-theme-dark img[align=left] {
  padding-right: 20px;
}

.mdui-theme-dark .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.mdui-theme-dark span.frame {
  display: block;
  overflow: hidden;
}

.mdui-theme-dark span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #30363d;
}

.mdui-theme-dark span.frame span img {
  display: block;
  float: left;
}

.mdui-theme-dark span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #e6edf3;
}

.mdui-theme-dark span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.mdui-theme-dark span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.mdui-theme-dark span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.mdui-theme-dark span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.mdui-theme-dark span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.mdui-theme-dark span.align-right span img {
  margin: 0;
  text-align: right;
}

.mdui-theme-dark span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.mdui-theme-dark span.float-left span {
  margin: 13px 0 0;
}

.mdui-theme-dark span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.mdui-theme-dark span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.mdui-theme-dark code,
.mdui-theme-dark tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
}

.mdui-theme-dark code br,
.mdui-theme-dark tt br {
  display: none;
}

.mdui-theme-dark del code {
  text-decoration: inherit;
}

.mdui-theme-dark samp {
  font-size: 85%;
}

.mdui-theme-dark pre code {
  font-size: 100%;
}

.mdui-theme-dark pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.mdui-theme-dark .highlight {
  margin-bottom: 16px;
}

.mdui-theme-dark .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.mdui-theme-dark .highlight pre,
.mdui-theme-dark pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #e6edf3;
  background-color: #161b22;
  border-radius: 6px;
}

.mdui-theme-dark pre code,
.mdui-theme-dark pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.mdui-theme-dark .csv-data td,
.mdui-theme-dark .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.mdui-theme-dark .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #0d1117;
  border: 0;
}

.mdui-theme-dark .csv-data tr {
  border-top: 0;
}

.mdui-theme-dark .csv-data th {
  font-weight: 600;
  background: #161b22;
  border-top: 0;
}

.mdui-theme-dark [data-footnote-ref]::before {
  content: "[";
}

.mdui-theme-dark [data-footnote-ref]::after {
  content: "]";
}

.mdui-theme-dark .footnotes {
  font-size: 12px;
  color: #848d97;
  border-top: 1px solid #30363d;
}

.mdui-theme-dark .footnotes ol {
  padding-left: 16px;
}

.mdui-theme-dark .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.mdui-theme-dark .footnotes li {
  position: relative;
}

.mdui-theme-dark .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #1f6feb;
  border-radius: 6px;
}

.mdui-theme-dark .footnotes li:target {
  color: #e6edf3;
}

.mdui-theme-dark .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.mdui-theme-dark .pl-c {
  color: #8b949e;
}

.mdui-theme-dark .pl-c1,
.mdui-theme-dark .pl-s .pl-v {
  color: #79c0ff;
}

.mdui-theme-dark .pl-e,
.mdui-theme-dark .pl-en {
  color: #d2a8ff;
}

.mdui-theme-dark .pl-smi,
.mdui-theme-dark .pl-s .pl-s1 {
  color: #c9d1d9;
}

.mdui-theme-dark .pl-ent {
  color: #7ee787;
}

.mdui-theme-dark .pl-k {
  color: #ff7b72;
}

.mdui-theme-dark .pl-s,
.mdui-theme-dark .pl-pds,
.mdui-theme-dark .pl-s .pl-pse .pl-s1,
.mdui-theme-dark .pl-sr,
.mdui-theme-dark .pl-sr .pl-cce,
.mdui-theme-dark .pl-sr .pl-sre,
.mdui-theme-dark .pl-sr .pl-sra {
  color: #a5d6ff;
}

.mdui-theme-dark .pl-v,
.mdui-theme-dark .pl-smw {
  color: #ffa657;
}

.mdui-theme-dark .pl-bu {
  color: #f85149;
}

.mdui-theme-dark .pl-ii {
  color: #f0f6fc;
  background-color: #8e1519;
}

.mdui-theme-dark .pl-c2 {
  color: #f0f6fc;
  background-color: #b62324;
}

.mdui-theme-dark .pl-sr .pl-cce {
  font-weight: bold;
  color: #7ee787;
}

.mdui-theme-dark .pl-ml {
  color: #f2cc60;
}

.mdui-theme-dark .pl-mh,
.mdui-theme-dark .pl-mh .pl-en,
.mdui-theme-dark .pl-ms {
  font-weight: bold;
  color: #1f6feb;
}

.mdui-theme-dark .pl-mi {
  font-style: italic;
  color: #c9d1d9;
}

.mdui-theme-dark .pl-mb {
  font-weight: bold;
  color: #c9d1d9;
}

.mdui-theme-dark .pl-md {
  color: #ffdcd7;
  background-color: #67060c;
}

.mdui-theme-dark .pl-mi1 {
  color: #aff5b4;
  background-color: #033a16;
}

.mdui-theme-dark .pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

.mdui-theme-dark .pl-mi2 {
  color: #c9d1d9;
  background-color: #1158c7;
}

.mdui-theme-dark .pl-mdr {
  font-weight: bold;
  color: #d2a8ff;
}

.mdui-theme-dark .pl-ba {
  color: #8b949e;
}

.mdui-theme-dark .pl-sg {
  color: #484f58;
}

.mdui-theme-dark .pl-corl {
  text-decoration: underline;
  color: #a5d6ff;
}

.mdui-theme-dark g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.mdui-theme-dark g-emoji img {
  width: 1em;
  height: 1em;
}

.mdui-theme-dark .task-list-item {
  list-style-type: none;
}

.mdui-theme-dark .task-list-item label {
  font-weight: 400;
}

.mdui-theme-dark .task-list-item.enabled label {
  cursor: pointer;
}

.mdui-theme-dark .task-list-item+.task-list-item {
  margin-top: 4px;
}

.mdui-theme-dark .task-list-item .handle {
  display: none;
}

.mdui-theme-dark .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

.mdui-theme-dark .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.mdui-theme-dark .contains-task-list {
  position: relative;
}

.mdui-theme-dark .contains-task-list:hover .task-list-item-convert-container,
.mdui-theme-dark .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.mdui-theme-dark ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.mdui-theme-dark .markdown-alert {
  padding: 8px 16px;
  margin-bottom: 16px;
  color: inherit;
  border-left: .25em solid #30363d;
}

.mdui-theme-dark .markdown-alert>:first-child {
  margin-top: 0;
}

.mdui-theme-dark .markdown-alert>:last-child {
  margin-bottom: 0;
}

.mdui-theme-dark .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.mdui-theme-dark .markdown-alert.markdown-alert-note {
  border-left-color: #1f6feb;
}

.mdui-theme-dark .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #2f81f7;
}

.mdui-theme-dark .markdown-alert.markdown-alert-important {
  border-left-color: #8957e5;
}

.mdui-theme-dark .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #a371f7;
}

.mdui-theme-dark .markdown-alert.markdown-alert-warning {
  border-left-color: #9e6a03;
}

.mdui-theme-dark .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #d29922;
}

.mdui-theme-dark .markdown-alert.markdown-alert-tip {
  border-left-color: #238636;
}

.mdui-theme-dark .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #3fb950;
}

.mdui-theme-dark .markdown-alert.markdown-alert-caution {
  border-left-color: #da3633;
}

.mdui-theme-dark .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #f85149;
}