* {
    font-family: MiSans;
}

body {
	font-family:PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif !important;
	font-weight:400;
	overflow-x:auto;
	color:#666666;
	margin:0 auto !important;
}

#badge {
  display:inline-block;
  min-width:10px;
  text-align: center;
  text-decoration:none;
  vertical-align:middle;
  padding:6px 10px;
  font-size:12px;
  font-weight:bold;
  color:#000000;
  line-height:1;
  vertical-align:middle;
  white-space:nowrap;
  text-align:center;
  background-color:#E0E0E0;
  border-radius:10px;
  margin:5px;
}

.dark #badge {
  display:inline-block;
  min-width:10px;
  text-align: center;
  text-decoration:none;
  vertical-align:middle;
  padding:6px 10px;
  font-size:12px;
  font-weight:bold;
  color:#000000;
  line-height:1;
  vertical-align:middle;
  white-space:nowrap;
  text-align:center;
  background-color:#555555;
  border-radius:10px;
  margin:5px;
}

h1 {
	text-align:center
}

html {
    margin:0 auto;
}

h1 {
    font-family: Roboto, sans-serif;
    color: black;
    text-shadow: rgb(241 225 255) 0px 0px 10px;
}

.dark h1 {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    text-shadow: rgb(241 225 255) 0px 0px 10px;
}

h3 {
    color: black;
}

.dark h3 {
    color: #FFFFFF;
}

body {
    /*background: url('api/1/picture?type=pic');*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    margin:0 auto;
    background-color: #FFFFFF;
    color: black;
}

.dark {
    background-color: hsl(0, 0%, 11%);
    /*background: url('api/1/picture?type=pic');*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    margin:0 auto;
    color: #c9d1d9;
}

#box {
    padding: 20px;
    margin: 0 auto;
    margin-top: 1%;
    opacity: 0.8;
    word-wrap:break-word;  
    word-break:break-all;
    background-color: rgba(255, 255, 255, 0.298);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 0.8px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    width: 40%;
    min-width: 300px;
}

.dark #box {
    padding: 20px;
    margin: 0 auto;
    margin-top: 1%;
    opacity: 0.8;
    word-wrap:break-word;  
    word-break:break-all;
    background-color: rgba(89, 89, 89, 0.298);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 0.8px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(14, 14, 14, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(14, 14, 14, 0.19) 0px 6px 15px 0px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    width: 40%;
    min-width: 300px;
}

#title_box {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    border: 0;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 10px;
    text-align: center;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff20;
    backdrop-filter: blur(20px);
}

p {
    color: black;
}

.dark p {
    color: #FFFFFF;
}

a {
    color: #FFC0CB;
}

hr {
    height: 1px;
    background-color: #b5b5b599;
    border: none;
}

v {
    color: #00000099;
    padding-left: 5px;
}

.dark v {
    color:#FFFFFFb2;
    padding-left: 5px;
}