* {
    font-family: MiSans;
}

html {
    margin: 0 auto;
}

body {
    /*background: url("api/picture?type=pic");*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
}

a {
    text-decoration: none;
    outline: 0;
    color: rgb(var(--mdui-color-primary));
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

:not(:defined) {
    visibility: hidden;
}

mdui-card {
    height: 100%;
    width: 100%;
}

.container {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        gap: 20px;
        padding: 20px;
}

.windows {
  display: block;
}

.phone {
  display: none;
}
    
@media (max-width: 600px) {
    .container {
        grid-template-columns: 100%;
    }
    .phone {
        display: block;
    }
    .windows {
        display: none;
    }
}

.item {
    padding: 20px;
    text-align: center;

}

#line-block {
    line-height: 1.2; /* 设置行高，根据需要进行调整 */
    max-height: 4.8em; /* 设置最大高度，根据行高和行数进行计算（行高 * 行数） */
    overflow: hidden; /* 内容超出部分隐藏 */
}