* {
    font-family: MiSans;
}

html {
    margin: 0 auto;
}

body {
    /*background: url('api/picture?type=pic');*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    margin: 0 auto;
}

a {
    color: #fdabb8;
    text-decoration: none;
}

a:active {
    text-decoration: blink
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

:not(:defined) {
    visibility: hidden;
}